@import './components/activity';
@import './components/benefits';
@import './components/checkbox';
@import './components/client';
@import './components/contact';
@import './components/filtr';
@import './components/footer';
@import './components/goods';
@import './components/header-menu';
@import './components/header';
@import './components/hero';
@import './components/logo';
@import './components/modal';
@import './components/socials';
@import './components/subscription';
@import './components/team';
@import './components/texterea';

@import'./utils/base';
@import'./utils/placeholders';
@import'./utils/variables';