.checkbox {
    margin-bottom: 30px;
    padding-left: 12px;
  }
  
  .checkbox__input {
    appearance: none;
  }
  
  .checkbox__label {
    position: relative;
    padding-left: 28px;
    padding-right: 12px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color-font);
  }
  
  .checkbox__conditions {
    color: var(--secondary-color);
  }
  
  .checkbox__label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    content:'';
    border: 0.2px solid var(--main-dark);
    cursor: pointer;
  
  }
  
  .checkbox__input:checked + .checkbox__label::before {
    border: 0.2px solid var(--secondary-color);
    background-image: url(../images/icons/checkbox\ svg.svg);
    background-color: var(--secondary-color);
    background-size: contain;
    background-position: center;
  }
  