.contact {
  justify-content: center;
  padding: 0px;
  margin: 0px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  align-items: baseline;
  
  @media screen and (max-width: 768px) {
    display: none;
     }
        
     @media screen and (min-width: 1200px) {
     gap: 50px;
     display: flex;
     flex-wrap: wrap;
     }

&__nav {
    margin-left: auto;
    text-decoration: none;
    align-content: center;
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-color-font);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: baseline;

    @media screen and (min-width: 768px){
      display: flex;
      align-items: center;
     margin-bottom: 10px;

    }
    @media screen and (min-width: 1200px){
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;
      align-items: center;

    }
  }
  
  &__nav:hover {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon:hover {
    fill: var(--secondary-color);
  }
  
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--main-icons);
    background-color: var(--main-light);
    margin-right: 10px;
    fill: currentColor;
  }
}