.footer {
    padding: 94px 0;
    background: var(--main-unit);
    
          
  &__communication {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
   
           
     
    @media screen and (min-width: 768px){
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      }
      @media screen and (min-width: 1200px){
        justify-content: left;
       
      }
  }

 &__logo {
    justify-content: center;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    
          

    @media screen and (min-width: 768px){
          display: flex;
          flex-wrap: wrap;
          margin-right: 165px;
        }
        @media screen and (min-width: 1200px) {
          text-align: left;
          justify-content: left;
          margin-right: 0;
        
        }
  }
  
  &__wrap {
    color: var(--main-light);
    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-right: 0;
    
    }
  }
  &__block {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-bottom: 0px;
    
    }
  }

  &__link {
    display: inline-block;
    font-style: normal;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0;
    color: var(--main-light);
    text-decoration: none;
    }
  
  &__nav {
    display: inline-block;
    font-style: normal;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

 &__contact {
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 28px;
          
 }

  
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__socials {
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    height: 80px;
    margin-bottom: 60px;

   
    @media screen and (min-width: 1200px) {
      text-align: left;
      max-width: 206px;
      margin-top: 0px;
      padding-top: 0px;
    }
 
    
    @media screen and (min-width: 1200px){
      max-width: 206px;
      margin-bottom: 0;
    }
   
    }

    &__naim {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--main-light);
      padding-bottom: 20px;
    }

&__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
     margin-bottom: 0px;
    
    }
     
  }
  
  &__section {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__sector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--main-light);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  &__sector:hover {
    fill: var(--main-light);
    background-color: var(--secondary-color);
  }
  
  &__icon:hover {
    fill: var(--main-light);
  }
  &__block {
  @media screen and (min-width: 768px){
    margin-right: 165px;
  }
  @media screen and (min-width: 1200px){
    margin-right: 70px;
  }
}
}
  