.footer {
    padding: 94px 0;
    background: var(--main-unit);
  
  &__communication {
     align-items: baseline;

     @media screen and (max-width: 480px){
      text-align: center;
      justify-content: center;
         }
  
    
    @media screen and (min-width: 460px){
      display: flex;
      flex-wrap: wrap;
    }
  }

 &__logo {
  margin-bottom: 30px;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
   

    


    @media screen and (min-width: 480px){
      
      margin-bottom: 20px;
         }

    @media screen and (min-width: 480px){
          display: flex;
          flex-wrap: wrap;
        }
  }
  
  &__wrap {
    color: var(--main-light);
  }
  &__link {
    display: inline-block;
    font-style: normal;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0;
    color: var(--main-light);
    text-decoration: none;
    }
  
  &__nav {
    display: inline-block;
    font-style: normal;
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

 &__contact {
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
   

    @media screen and (min-width: 480px){
      margin-right: 70px;
    }
    }

  
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__socials {
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    max-width: 206px;
    height: 80px;
    padding-top: 30px;

    
    @media screen and (min-width: 480px){
      margin-top: 60px;
      padding-top: 12px;
    }
    }

    &__naim {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--main-light);
      padding-bottom: 20px;
    }

&__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
   
  }
  
  &__section {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__sector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--main-light);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  
  &__sector:hover {
    fill: var(--main-light);
    background-color: var(--secondary-color);
  }
  
  &__icon:hover {
    fill: var(--main-light);
  }
   
}
  