  .hero {
    padding: 94px 0;
    background-color: var(--main-unit);
    color: var(--main-dark);
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Herro.jpg);
    background-position: center;

   
  &__title {
    max-width: 700px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-light);
  }
  &__btn {
    padding: 10px 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary-color);
    font-family: var(--main-light);
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    background: var(--btn-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--main-light);
    margin: 0 auto;
    display: flex;
    border: none;
  }
}