
.logo {
    display: flex;
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
  }
  .logo__wrap {
    color: var(--logo-wrap-color);
  }