
.subscription {
   justify-content: center;
    padding-left: 93px;

   @media screen and (min-width: 460px){
     flex-wrap: wrap;
  }
  
  &__naim {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-light);
    padding-bottom: 20px;
  }
  
  &__list {
     align-items: center;
     padding-right: 12px;

     @media screen and (min-width: 460px){
      display: flex;
      flex-wrap: wrap;
    }
     
  }
  
  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--main-unit);
    margin-right: 12px;
    color: var(--main-light);
    padding: 16px 15px;
  }
  
  &__input:focus {
    outline:none;
    border-color: var(--main-light); 
  }
  
  &__icon {
    margin-left: 10px;
  }
}