
.subscription {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  padding-top: 60px;

   
    @media screen and (min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      padding-left: 93px;
        }
   @media screen and (min-width: 1200px){
      max-width: 358px;
      padding-top: 0;
      padding-left: 0px;
         }
           
      
  &__naim {
    font-style: normal;
    max-width: 450px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-light);
    padding-bottom: 20px;
  }
  
  &__list {
     align-items: center;
     padding-right: 12px;
  
  }  
    
  &__input {
    width: 100%;
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--main-unit);
    margin-right: 12px;
    color: var(--main-light);
    padding: 16px 15px;
    margin-bottom: 20px;
    }
  
  &__input:focus {
    outline:none;
    border-color: var(--main-light); 
  }
  
  &__icon {
    margin-left: 10px;
  }
  
}