
 .team {
    background-color: var(--btn-inactive);
    padding: 94px 0;
  }
  
  .team__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.43;
    color: var(--main-dark);
  }
  
  .team__list
  .item {
  
    max-width: 270px;
    background: var(--main-light);
  }
  
  
  .team__list  {
    display: flex;
    margin-bottom: 30px;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .team__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-dark);
  }
  .team__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--main-color-font);
  }
  .team__content {
    padding: 30px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }